.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #111;
  border-radius: 6px;
  margin-bottom: 8px;
  padding: 8px;
}

.text_container {
}

.btn {
  width: 80px;
  height: 40px;
  padding: 8px;
}
